.contenedor {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
    min-height: 97vh; 
}



.contenedor-fechas {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.fechas {
    position: sticky;
    top: 0;
    background-color: white;
}

.fecha-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px gray solid;
    border-radius: 5px;
    background-color: lightgray;
    width: auto;
    margin: 5px;
    padding: 5px 40px;
}

.div-alumno {
    display: flex;
    flex-direction: row;
    border: 2px gray solid;
    border-radius: 5px;
    width: auto;
    min-height: 70px;
    margin: 5px;
    padding: 5px;
    align-items: center;
}

.corto {
    padding-left: 20px;
    gap: 20px;
    width: 300px;
}

button {
    margin: 5px auto;
}

p{
    display: block;
    margin-left: 10px;
    width: 200px;
    font-weight: bold;
}

label {
    display: block;
    margin: auto 10px;
    
    font-weight: bold;
}

ul {
    display: "flex";
    gap: "10px";
}

li {
  display: inline-block;
  /* margin-right: 10px;  */
  text-align: center;
  width: 40px;  
}
